.dictionary {
    background-color: $_3_grey-color;
    height: 100%;

    &__words-block {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;

        // &_another-topic {
            // .dictionary__item {
            //     box-shadow: 4px 4px 29px -6px rgba(106, 96, 241, 0.8) inset, 
            //     -4px -4px 29px -6px rgba(174, 171, 200, 0.2) inset;
            // }
        // }
    }
}