.dictionary {
    background-color: $dictionaries-page-background;
    height: 100%;

    &__words-block {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;

        // &_another-topic {
            // .dictionary__item {
            //     box-shadow: 4px 4px 29px -6px rgba(106, 96, 241, 0.8) inset, 
            //     -4px -4px 29px -6px rgba(174, 171, 200, 0.2) inset;
            // }
        // }
    }

    &__item {
        box-shadow: $light-box-shadow;
        margin: 5px;
        margin-bottom: 15px;
        padding-right: 25px;
        padding-top: 25px;
        position: relative;
        flex-basis: 47%;
    }

    &__item-inner {
        display: flex;
    }

    &__line {
        background-color: $light-green-color;
        border: 1px solid $dark-green-color;
        margin-bottom: 5px;
        min-width: max-content;
        color: $link-light-color;

        &_en {
            background-color: $grey-background-color;
            margin-right: 10px;
        }
    }

    &__input {
        font-size: 16px;
        width: 60%;
        color: $dark-blue-color;
    }
}

.contents-list {
    &__line {
        color: $link-light-color;
    }

    &__unique-number {
        color: $heading-blue-color;
    }

    &__topic {
        color: $link-light-color
    }
}

.dates {
    max-width: fit-content;

    &__title {
        color: $heading-blue-color;
    }

    &__line {
        color: $heading-blue-color;
    }

    .add {
        margin: 10px auto;
    }
}

.ru {
    padding-top: 0;
}

.main {
    background-color: $dark-green-color;
    border: 1px solid $grey-background-color;
}

.main span {
    color: white;
}

.new {
    font-style: italic;
    background-color: $heading-blue-color;
}

.not-for-add {
    opacity: 0.5;
}