.homework {
    background-color: $dictionaries-page-background;
    height: 100%;

    .date-goal {
        color: $hw-date-goal-color;
    }
}

.hw-list {
    background-color: $grey-background-color;
    color: $link-light-color;
    margin-top: 10px;
    padding: 15px;

    &__elem {
        color: $link-light-color;
    }
}