.sub-page {
    background-color: $_1_orange_color;
    padding: 30px;
    width: 100%;

    &--dark-theme {
        background-color: $_3_grey-color;
    }

    &__contents {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.lesson {
    background-color: #e1d41d;
}
@import './page.scss';
@import './home-page.scss';
@import './essen.scss';
@import './horizonte6.scss';
@import './dictionaries.scss';
@import './lesson-materials.scss';
@import './homework.scss';
@import './lesson-plans.scss';
@import './lesson-reports.scss';
@import './level-tests.scss';
@import './all-tenses.scss';
@import './en-grammar.scss';
@import './en-lesson.scss';

