.lesson-reports {
    color: $_0-grey-color;

    &__main {
        margin-top: $margin-normal*3;
        display: grid;
        grid-template-areas: 
            'title title'
            'sliders sliders'
            'plan edit'
            'history history';
        grid-gap: $margin-normal*2;
        justify-content: center;

        .plan-info {
            grid-area: plan;

            &__line {
                margin: $margin-normal 0;
            }
    
            &__date {
                color: $_1_orange_color;
            }
    
            &__measurement, &__number {
                margin: 0 $margin-normal / 2;
            }

            .edit-icon {
                margin-left: $margin-normal;
            }
    
            .edit-icon:hover {
                opacity: 0.5;
            }
        }
    
        .edit-info {
            grid-area: edit;
            display: grid;
            grid-template-areas: 
                'title title'
                'column_date column_time'
                'comment comment';
            grid-gap: $margin-normal;
            position: relative;
            
            &__title {
                margin-bottom: $margin-normal;
                grid-area: title;
                justify-self: center;
                align-self: center;
            }
        
            &__column {
                display: flex;
                flex-direction: column;
            }
        
            &__column--date {
                grid-area: column_date;
            }
        
            &__column--time {
                grid-area: column_time;
            }
    
            &__column--comment {
                grid-area: comment;
            }
    
            &__input {
                height: 45px;
            }
    
            &__input--number {
                width: 50%;
                margin: 0 auto;
            }
        }

        .history-info {
            position: relative;
            grid-area: history;
            display: grid;
            grid-template-areas: 
                'history_title history_title'
                'done missed';
            grid-gap: $margin-normal;

            &__table td, &__table th {
                border-color: $_0-grey-color;
            }

            &__table th {
                color: $_1_orange_color;
            }

            &__block-title {
                grid-area: history_title;
                justify-self: center;
                align-self: center;
                color: $_1_orange_color;
            }

            &__column--done {
                grid-area: done;
            }

            &__column--missed {
                grid-area: missed;
            }

            &__line {
                margin-top: $margin-normal;
            }
        }

        .edit-plan {
            position: relative;
            display: grid;
            grid-template-areas: 
                'title title'
                'hours minutes'
                'btn btn';
            
            &__title {
                grid-area: title;
            }

            &__month {
                color: $_1_orange-color;
            }

            &__line {
                margin-right: $margin-normal;

                &--hours {
                    grid-area: hours;
                }

                &--minutes {
                    grid-area: minutes;
                }
            }

            &__input {
                margin-right: $margin-normal;
                max-width: 100px;
            }

            &__btn {
                grid-area: btn;
                max-width: fit-content;
                height: fit-content;
                justify-self: center;
            }
        }
    }

    &__title {
        grid-area: title;
    }

    &__sliders {
        grid-area: sliders;
    }

    // * states
    .planned {
        color: $light-blue-color;
    }

    .done {
        color: $_3_green-mate-color;
    }

    .missed {
        color: $_2-red-color;
    }

    .debt {
        color: $_4-red-color;
    }

}