.color-states {
    margin-right: auto;

    &__line {
        display: flex;
        margin-top: 10px;
    }

    &__example {
        width: 50px;
        height: 30px;
        border: 1px solid #ccc;
        margin-right: 10px;

        &--actual {
            background-color: $yellow-mate-color;
        }
        &--done {
            background-color: $_3_green-mate-color;
        }
        &--partially-done {
            background-color: $_2_orange-color;
        }
        &--debt {
            background-color: $_2-red-color;
        }
        &--order-important {
            box-shadow: 6px 5px 2px $dark-blue-color;
        }

        &--lesson-required {
            border: 2px solid $_3-red-color;
        }
    }

    &__explanation {
        color: $_0-grey-color;
    }

}