$block: '.horizontal-slider';

#{$block} {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: $margin-normal auto;
    color: $page-background;

    &--primary {
        color: $light-blue-color;      
    }

    &__slide {
        color: inherit;
        border: 1px solid $page-background;
        border-radius: 20px;
        border-color: inherit;
        padding: $margin-normal/2 $margin-normal;
    }

    .control-arrow {
        height: 25px;
        margin: auto 0;

        &--prev {
            margin-right: auto;
        }

        &--next {
            margin-left: auto;
        }
    }
}