.plan-table {
  .date-goal {
    color: $hw-date-goal-color;
  }

  .time-goal {
    color: $link-color;
  }
  .plan-table-row-item {
      vertical-align: top;
  }

  .plan-list {
    background-color: $grey-background-color;
    color: $primary-text-color;;
    margin-top: 10px;
    padding: 15px;

    &__elem {
      color: $primary-text-color;;
    }
  }

  // статусы запланированного
  .plan-actual {
    background-color: $hw-actual-background;
    color: $page-dark-theme-background;
  }

  .done {
    background-color: $hw-done-item-background;
  }

  .partially-done {
    background-color: $hw-partially-done-item-background;
  }

  .debt {
    background-color: $hw-debt-item-background;
  }

  .order-important {
    background-color: $dark-blue-color;
    color: $link-light-color;
  }

  .lesson-required {
    border: 5px dashed $hw-debt-item-background;
  }
}