.plan-table {
  &__row-item {
    vertical-align: top;
  }

  &__date-goal {
    color: $_1_orange_color;
  }
  
  &__time-goal {
    color: $light-blue-color;
  }

  // статусы запланированного
  .plan-actual {
    background-color: $yellow-mate-color;
    color: $_3_grey-color;

    .link {
      color: $middle-blue-color;
    }

    .title-4 {
      color: $_3_orange_color;
    }

    .list-type-colored li:before {
      color: $_3_grey-color;
    }

    .plan-list__item {
      color: $_3_grey-color;
    }
  }
  .done {
    background-color: $_3_green-mate-color;
  }
  
  .partially-done {
    background-color: $_2_orange-color;
  }
  
  .debt {
    background-color: $_2-red-color;
  }
  
  .order-important {
    box-shadow: 6px 5px 11px $dark-blue-color;
  }
  
  .lesson-required {
    border: 2px solid $_3_red-color;
  }
  
  .add-info {
    &__line {
      color: $_0-grey-color;
    }
  }
}

.plan-list {
  background-color: $_1-grey-color;
  margin-top: 10px;
  padding: 15px;

  &__item {
    color: $_0-grey-color;
  }

  &__item.partially-done, &__item.done, &__item.debt {
    color: $_3_grey-color;
  }

  &__item.order-important {
    color: $_0-grey-color;
  }
}