.table-wrapper {
    margin-top: 60px;
}

// таблица с окончаниями времени
.root-tense-table {
    .secondary-heading {
        text-shadow: 1px 2px 2px #706c6c;
    }

    th, td {
        box-shadow: $card-bow-shadow;
        background-color: $_0_yellow-color;
    }
}

.tense-table {
    margin-bottom: 10px;
}

.important-letter, .short-rule {
    font-size: 1.4em;
    color: $blue-purple-color;
    text-shadow: 1px 1px 2px $blue-purple-color;
}

.important-ending {
    color: $blue-purple-color;
}