// css переменные передаются через props
.tooltip {
    background-color: #4b4a4a;
    color: white;
    padding: 10px 15px;
    opacity: 0.8;
    position: absolute;
    top: var(--top);
    right: var(--right);
    left: var(--left);
    min-width: var(--minWidth);
}