.primary-title {
    font-size: 2rem;
    color: #1f1f1f;
}

h2 {
    font-size: 24px;
}

.title-3-absolute {
    position: absolute;
    top: -10px;
    left: 30px;
    color: $_0-grey-color;
    font-family: Helvetica;
}

.title-3 {
    color: $_0-grey-color;
}

.title-4 {
    color: $_1_orange_color;
}

.heading-white {
    color: $white-color;
}