.has-tooltip {
    text-decoration: underline;
    text-decoration-style: dashed;
    position: relative;
}

// .important {
//     color: white;
//     font-size: 22px;
// }

.dictionary_important {
    font-weight: bold;
    font-size: 18px;
}

.hw-actual {
    background-color: $hw-actual-background;
    color: $dictionaries-page-background;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

:disabled {
    opacity: 0.6;
}

.d-none {
    display: none;
}

// каккие из 2 вариантов нужны?
// .right {
//     background-color: aquamarine;
// }

// .wrong {
//     background-color: rgb(231, 143, 102);
// }

.right {
    box-shadow: 10px 0px 10px 0px $green-color, -10px 0px 10px 0px $green-color;
}

.wrong {
    box-shadow: 10px 0px 10px 0px $red-color, -10px 0px 10px 0px $red-color;
}