$page-background: orange;
$dictionaries-page-background: #373a37;
$ege-page-background: #112211;

$primary-text-color: #4b4a4a;

$link-light-color: #bbbbbb;
$heading-light-color: white;
$title-3-light-color: #dedcdc;
$heading-blue-color: #7676ff;
$light-green-color: rgb(150, 204, 150);
$darker-green-color: rgb(140, 172, 140);
$dark-green-color: rgb(20, 41, 20);
$dark-blue-color: #070135eb;

$green-box-shadow: 4px 4px 29px -6px rgba(88, 97, 89, 0.2) inset, 
-4px -4px 29px -6px rgba(238, 243, 239, 0.2) inset;