// colors
// common colors

$dark-blue-color: #070135eb; //input text  in ege
$green-color: rgba(0, 119, 5, 0.75);
$red-color: rgba(245, 60, 4, 0.75);
$beige-color: #e2e2b7;
$hw-actual-background: #d5d524;
$hw-date-goal-color: #bb7027;
// pages
$page-background: orange;
$dictionaries-page-background: #373a37;
$ege-page-background: #112211;

// text, fonts
$primary-text-color: #4b4a4a;
// links
$link-light-color: #bbbbbb;
$link-color: #7676ff;
// headings
$heading-light-color: white;
$title-3-light-color: #dedcdc;
$heading-blue-color: #7676ff;


// ege dictionaries
$light-green-color: rgb(150, 204, 150);
$grey-background-color: #afbdaf;
$dark-green-color: rgb(20, 41, 20);

// shadows
// ege
$light-box-shadow: 4px 4px 29px -6px rgba(88, 97, 89, 0.2) inset, 
                    -4px -4px 29px -6px rgba(238, 243, 239, 0.2) inset;
// horizonte
$card-bow-shadow: -8px -5px 4px 0px rgba(21, 21, 21, 0.2) inset,
                    8px 5px 4px 0px rgba(255, 255, 255, 0.4) inset;


// buttons
$btn-text-color: #a7a7a7;

// drag and drop
$card-width: 140px;
$card-height: 50px;