// colors
$white-color: #fff;
$_0-grey-color: #bbbbbb;
$_1-grey-color: #5e605e;
$_2-grey-color: #4b4a4a;
$_3_grey-color: #373a37;

$_0_yellow-color: #e2e2b7;
$_2_yellow-color: #ffe563;
$yellow-mate-color: #ffe563;

$_1_orange_color: #ffa500; // бывший page packground
$_2_orange-color: #ff8400;
$_3_orange-color: #ff6c00;

$_0_green_mate_color: #afbdaf;
$_2_green-mate-color: #96cc96;
$_3_green-mate-color: #73b173;
$green-color: #007705bf;
$dark_green-color: #142914;

$_2-red-color: #d77b7b;
$_3-red-color: #fd7373;
$_4_red-color: #ef4343;
$_5_red-color: #f53c04bf;

$light-blue-color: #8dbeff; //horizontal-slider primary
$middle-blue-color: #1f7efd;
$dark-blue-color: #070135eb; //input text  in ege

$blue-purple-color: #7676ff;
$middle-purple-color: #684b9f;
$dark-purple-color: #170a23;

// pages
// text, fonts
// links
// headings
// ege dictionaries
// shadows
// ege
$light-box-shadow: 4px 4px 29px -6px rgba(88, 97, 89, 0.2) inset, 
                    -4px -4px 29px -6px rgba(238, 243, 239, 0.2) inset;
// horizonte
$card-bow-shadow: -8px -5px 4px 0px rgba(21, 21, 21, 0.2) inset,
                    8px 5px 4px 0px rgba(255, 255, 255, 0.4) inset;


// buttons
$btn-blue-text-color: #a7a7a7;

// drag and drop
$card-width: 140px;
$card-height: 50px;

// margins etc
$margin-normal: 15px;