.lesson3 {
  &__speakout-imgs {
    display: flex;
  }

  &__gr-img {
    width: auto;
  }
}

@media (max-width: 1200px) {
  .lesson3 {   
    .img {
      max-width: 60vw;
    }

    &__speakout-imgs {
      flex-wrap: wrap;
      justify-content: flex-start;

      .img {
        margin: $margin-normal;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 850px) {
  .lesson3 {   
    .img {
      max-width: 70vw;
    }

    &__speakout-imgs {
      justify-content: center;
    }
  }
}

@media (max-width: 600px) {
  .lesson3 {   
    .img {
      max-width: 60vw;
    }
  }
}

@media (max-width: 600px) {
  .lesson3 {   
    .img {
      max-width: 60vw;
    }
  }
}
