.en-lesson {
  &__task-title {
    font-weight: bold;
    color: $_0_yellow-color;
  }

  &__link {
    display: block;
  }
}

@media (max-width: 500px) {
  .en-lesson {   
    &__list {
      padding-inline-start: 15px;
    }
  }
}