/* drag and drop */
.ru-sentences__line {
    margin-bottom: 10px;
}

.done-answer-line {
    color: $green-color;
}

.to-drag-box {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: $card-width;
    min-height: $card-height;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: $btn-bow-shadow;
}

.to-drag-box__card {
    border: 1px solid black;
    // background-color: $link-color;
    background-color: #caabd2;
    // color: $beige-color;
    color: $btn-background-color;
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 1px #2a153c;
}

.result-output__line {
    height: $card-height + 20;
}

.result-output__sentence-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.result-output__card {
    width: $card-width + 10;
    min-height: $card-height + 10;
    border: 2px dashed $link-color;
}