/* drag and drop */
.ru-sentences__line {
    margin-bottom: 10px;
}

.done-answer-line {
    color: $green-color;
}

.to-drag-box {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: $card-width;
    min-height: $card-height;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: $card-bow-shadow;
    word-break: break-word;
}

.to-drag-box__card {
    border: 1px solid $_2-grey-color;
    font-weight: bold;
    color: $_2-grey-color;
    background-color: $_0_yellow-color;
}

.result-output__line {
    height: $card-height + 20;
}

.result-output__sentence-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.result-output__card {
    width: $card-width + 10;
    min-height: $card-height + 10;
    border: 2px dashed $blue-purple-color;
}